<template>
	<section>
		<page-title :title="$t('title')"/>
		<admin-list :title="$t('survey-templates')" getUrl="survey/admin/surveys" delUrl="survey/surveys/"/>
		<admin-list :title="$t('active-surveys')" getUrl="survey/admin/instances" delUrl="survey/instances/"/>
  	</section>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import AdminList from 'Main/components/AdminList.vue';

export default {
	name: 'survey-admin',
	components: { PageTitle, AdminList},
}
</script>






<i18n src="../locales/Admin.json"/>