<template>
	<section>
		<page-title :title="$t('edit-title',{name:survey.name})" :subtitle="$t('edit-subtitle')"/>
		<wait-icon v-if="!survey"/>
		<warning-list v-if="warnings" :warnings="warnings"/>
		<div class="container mt-3" v-if="survey">
			<p>{{$t('create-template-text')}}</p>
			<div class="card my-4">
				<div class="card-header bg-dark text-white">{{$t('basic-settings')}}</div>
				<div class="card-body row">
					<label class="col-md-3">{{$t('name')}}</label>
					<input class="col-md-9 form-control" v-model="survey.name" v-on:click="changed=true"
						:class="{'is-invalid':!$v(survey.name,true,$consts.REGEX_TEXT_100)}">
					<label class="col-md-3">{{$t('visibility')}}</label>
					<select class="col-md-9 form-control" v-model="survey.visible" v-on:click="changed=true">
						<option value="true">{{$t('public')}}</option>
						<option value="false">{{$t('private')}}</option>
					</select>
					<label class="col-md-3">{{$t('description')}}</label>
					<input class="col-md-9 form-control" v-model="survey.desc" v-on:click="changed=true"
						:class="{'is-invalid':!$v(survey.desc,true,$consts.REGEX_TEXT_300)}">
				</div>
			</div>

			<div v-if="survey.parts && survey.parts.length>0" class="card my-4" v-for="(part,nr) in survey.parts">
				<div class="card-header bg-var text-white">
					<input v-model="part.title" class="form-control my-0 edit-part-title" v-on:click="changed=true" :placeholder="$t('hint-edit-title')"
						:class="{'is-invalid':!$v(part.title,true,$consts.REGEX_TEXT_100)}">
				</div>
				<div class="card-body" v-if="part.questions && part.questions.length>0">
					<table  style="width:100%;border:none"	>
						<tr class="p-0 m-0" v-for="(question,qnr) in part.questions">
							<td class="p-0 m-0">
								<input class="form-control"  v-model="question.text" v-on:click="changed=true"
									:class="{'is-invalid':!$v(question.text,true,$consts.REGEX_TEXT_100)}"/>
								<input class="form-control text-info" v-if="question.type==4" v-model="question.options" :placeholder="$t('enter-select-options')" v-on:click="changed=true" :class="{'is-invalid':!$v(question.options,true,$consts.REGEX_TEXT_300)}"/>
							</td>
							<td class="p-0 m-0" style="width:200px">
								<select class="form-control" v-model="question.type" v-on:click="changed=true"
									:class="{'is-invalid':!$v(question.type,true,$consts.REGEX_NUMBER)}">
									<option value="1">{{$t('type-yes-no')}}</option>
									<option value="2">{{$t('type-agree')}}</option>
									<option value="3">{{$t('type-text')}}</option>
									<option value="4">{{$t('type-select')}}</option>
								</select>
							</td>
							<td class="p-0 m-0 pl-2" style="width:85px">
								<tooltip-icon :tip="$t('hint-delete-question')" size="tiny" src="~Main/img/delete.svg" v-on:click="delQuestion(part,qnr)"/>
								<tooltip-icon v-if="qnr>0" :tip="$t('move-up')" size="tiny" src="~Main/img/up.svg" v-on:click="moveQuestion(part,qnr,-1)"/>
								<tooltip-icon v-else size="tiny" src="~Main/img/up.svg" style="visibility:hidden"/>
								<tooltip-icon v-if="qnr+1<part.questions.length" :tip="$t('move-down')"size="tiny" src="~Main/img/down.svg" v-on:click="moveQuestion(part,qnr,+1)"/>
							</td>
						</tr>
					</table>
				</div>
				<div class="card-body" v-else>{{$t('no-questions-yet')}}</div>
				<div class="card-footer text-right">
					<tooltip-icon :tip="$t('hint-add-question')" src="~Main/img/plus.svg" v-on:click="addQuestion(part)"/>
					<tooltip-icon :tip="$t('hint-delete-part')" src="~Main/img/delete.svg" v-on:click="partToDelete=nr"/>
					<tooltip-icon v-if="nr>0" :tip="$t('move-up')" src="~Main/img/up.svg" v-on:click="movePart(nr,-1)"/>
					<tooltip-icon v-if="nr+1<survey.parts.length" :tip="$t('move-down')" src="~Main/img/down.svg" v-on:click="movePart(nr,+1)"/>
				</div>
			</div>

			<div class="alert alert-primary" v-if="!survey.parts || survey.parts.length==0">{{$t('no-parts-yet')}}</div>

			<div class="text-right my-4">
				<tooltip-icon :tip="$t('hint-add-part')" size="big" src="~Main/img/plus-primary.svg" v-on:click="addPart()"/>
			</div>
			<button v-if="changed" class="btn btn-primary mr-1" v-on:click="save()">{{$t('save')}}</button>
			<button v-if="changed" class="btn btn-secondary" v-on:click="modalConfirmCancel=true">{{$t('cancel')}}</button>
			<button v-else class="btn btn-secondary" v-on:click="$router.push({name:'survey-index'})">{{$t('cancel')}}</button>
		</div>

		<!-- modal dialog delete part -->
		<modal-confirm v-if="partToDelete>=0" v-on:close="partToDelete=false" v-on:accept="delPart(partToDelete)">
			{{$t('Wollen Sie diesen Abschnitt wirklich löschen?')}}
		</modal-confirm>

		<!-- confirm abort-->
		<modal-confirm-cancel v-if="modalConfirmCancel" v-on:close="modalConfirmCancel=false" v-on:accept="$router.push({name:'survey-index'})"/>

		<modal-info v-if="message"  v-on:close="message=false">{{message}}</modal-info>
	</section>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import ModalConfirm from 'Main/components/ModalConfirm.vue';
	import ModalInfo from 'Main/components/ModalInfo.vue';
	import ModalConfirmCancel from 'Main/components/ModalConfirmCancel.vue';
	import TooltipIcon from 'Main/components/TooltipIcon.vue';
	import WaitIcon from 'Main/components/WaitIcon.vue';
	import color from 'Main/js/color.js'

	export default {
		components: {PageTitle, WaitIcon, TooltipIcon, ModalConfirm, ModalConfirmCancel, ModalInfo},
		data: function() {
			return {
				survey:false,
				partToDelete:-1,
				message:false,
				warnings:false,
				modalConfirmCancel:false,
				changed:false
			}
		},
		mounted: function() {
			if (!this.$route.params.survey) this.survey={parts:[], visible: false};
			else this.survey=this.$route.params.survey;
		},
		updated: function() {
			color.setBgVar();
		},
		methods: {
			addPart: function() {
				if (!this.survey.parts) this.survey.parts=[];
				this.survey.parts.push({questions:[]})
				this.changed=true;
			},
			delPart: function(nr) {
				this.survey.parts.splice(nr,1);
				this.partToDelete=-1;
				this.changed=true;
			},
			addQuestion: function(part) {
				if (!part.questions) part.questions=[];
				part.questions.push({});
				this.changed=true;
			},
			delQuestion: function(part,nr) {
				part.questions.splice(nr,1);
				this.changed=true;
			},
			moveQuestion: function(part,nr,d) {
				var tmp=part.questions[nr];
				part.questions[nr]=part.questions[nr+d];
				part.questions[nr+d]=tmp;
				this.$forceUpdate();
				this.changed=true;
			},
			movePart: function(nr,d) {
				var tmp=this.survey.parts[nr];
				this.survey.parts[nr]=this.survey.parts[nr+d];
				this.survey.parts[nr+d]=tmp;
				this.$forceUpdate();
				this.changed=true;
			},
			save: function() {
				//check for validation errors
				this.validationErrors=document.getElementsByClassName('is-invalid').length;
				if (this.validationErrors>0) {
					this.message=this.$t('validation-errors',{num:this.validationErrors});
					return;
				}
				var id=this.survey._id;
				//update existing set
				if (id) {
					this.$axios.put('survey/surveys/'+id,{ survey:this.survey}).then(response=> {
						if (response.data[0]) this.warnings=response.data;
						else this.$router.push({name:'survey-index'});
					})
				}
				//create new set
				else {
					this.$axios.post('survey/surveys',{survey:this.survey}).then(response=> {
						if (response.data[0]) this.warnings=response.data;
						else this.$router.push({name:'survey-index'});
					})
				}

			}
		}
	}
</script>

<style scoped>
	.edit-part-title { background-color:transparent; color:white; }
	.edit-part-title::placeholder { color: white; opacity: 1; }
</style>

<i18n src="../locales/Edit.json"/>
