<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('description')"/>
		<div class="container mt-3" >
			<p class="h4 mt-4">{{$t('instances')}}</p>
			<wait-icon v-if="!surveyInstanceList"/>
			<index-list
			:items="surveyInstanceList" :fields="['title','created','surveyName']"
			:actions="['show','share','export','delete', 'new']"
			role="survey"
			resturl="survey/instances"
			v-on:show="result" v-on:share="share" v-on:export="exportResult" v-on:reload="loadMeta"
			v-on:new="createNewInstance()" />

			<p class="h4 mt-2">{{$t('templates')}}</p>
			<wait-icon v-if="!availableSurveys"/>
			<index-list
			:items="availableSurveys" :fields="['name','desc','owner']"
			:actions="['show','edit','export','delete', 'new', 'import']"
			role="survey"
			resturl="survey/surveys" restkey="survey"
			v-on:show="preview" v-on:edit="edit" v-on:export="exportJson" v-on:reload="loadMeta"
			v-on:new="edit({parts:[], visible: false})" />
		</div>

		<!-- modal dialog start instance -->
		<modal-dialog v-if="showModalCreateInstance" v-on:close="showModalCreateInstance=false" v-on:accept="acceptCreateInstance()">
			<template v-slot:header>{{$t('start-new-survey')}}</template>
			<warning-list v-if="dialogWarnings" :warnings="dialogWarnings"/>
			<p>{{$t('create-survey-text')}}</p>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" >{{$t('title-label')}}</label>
				<input class="form-control col-md-9" v-model="createInstance.title" type='text' :placeholder="$t('hint-title')"
					:class="{'is-invalid':!$v(createInstance.title,true,$consts.REGEX_TEXT_300)}">
				<label class="col-md-3 col-form-label" >{{$t('number')}}</label>
				<input class="number form-control col-md-9" type='number' min="1" max="1000" v-model:number="createInstance.count" :placeholder="$t('hint-number')">
				<label class="col-md-3 col-form-label">{{$t('template')}}</label>
				<select class="form-control col-md-9" v-model="createInstance.surveyId"
					:class="{'is-invalid':!createInstance.surveyId}">
					<option :value="survey._id" v-for="survey in availableSurveys">{{survey.name}}</option>
				</select>
			</div>
		</modal-dialog>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import IndexList from 'Main/components/IndexList.vue';
import ModalDialog from 'Main/components/ModalDialog.vue';
import ModalShare from 'Main/components/ModalShare.vue';
import WarningList from 'Main/components/WarningList.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';
import store from 'Main/js/store.js';
import download from 'Main/js/download.js';


export default {
	name: 'home',
	components: { PageTitle, ModalDialog, ModalShare, WarningList, WaitIcon, IndexList},
	data: function() {
		return {
			surveyInstanceList:false,
			createInstance:{},
			availableSurveys:false,
			survey:{},
			showModalCreateInstance:false,
			shareUrl:'',
			warnings:'',
			dialogWarnings:false,
		}
	},
	mounted: function() {
		if (!store.user.hasRole('survey')) return this.$router.push({name:'survey-part'});
		this.loadMeta();
	},
	methods: {
		loadMeta: function() {
			this.$axios.get('survey/instances').then(response=> { this.surveyInstanceList=response.data });
			this.$axios.get('survey/surveys').then(response=> { this.availableSurveys=response.data });
		},
		share: function(entry) {
			if (entry.tickets.length>1) return this.$router.push({name:'survey-tickets', params: {instance:entry}});
			var ticket=entry.tickets[0];
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/survey/'+ticket;
		},
		result: function(entry) {
			this.$router.push({name:'survey-result',params: {id:entry._id}});
		},
		//export results as text
		exportResult: function(entry) {
			this.$axios.get('survey/results/'+entry._id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				var instance=response.data.instance;
				var numAnswers=response.data.numAnswers;
				var results=response.data.results;
				var txt=instance.title.toUpperCase()+"\n";
				var n=1;
				for (var part of instance.parts) {
					txt+="\n"+n+". "+part.title+"\n\n";
					for (var question of part.questions) {
						txt+=question.text+"\n";
						if (question.type==1) {
							txt+="\t"+this.$t('yes')+"\t"+results[question._id][1]+"\n";
							txt+="\t"+this.$t('no')+"\t"+results[question._id][2]+"\n";
						}
						else if (question.type==2) {
							txt+="\t"+this.$t('agree1')+"\t"+results[question._id][1]+"\n";
							txt+="\t"+this.$t('agree2')+"\t"+results[question._id][2]+"\n";
							txt+="\t"+this.$t('agree3')+"\t"+results[question._id][3]+"\n";
							txt+="\t"+this.$t('agree4')+"\t"+results[question._id][4]+"\n";
							txt+="\t"+this.$t('agree5')+"\t"+results[question._id][5]+"\n";
						}
						else if (question.type==3) {
							for (var line of results[question._id]) {
								txt+="\t* "+line+"\n";
							}
						}
						else if (question.type==4) {
							const options = question.options.split(',');
							for (let i = 0; i < options.length; i++) {
								txt+="\t"+options[i]+"\t"+Math.round(results[question._id][i+1])+"\n"
							}
						}						
					}
					n++;
				}
				download.downloadText(instance.title,txt);
			})
		},
		createNewInstance: function() {
			this.createInstance={count: 1};
			this.dialogWarnings=false;
			this.showModalCreateInstance=true;
		},
		acceptCreateInstance: function() {
			this.$axios.post('survey/instances/',this.createInstance).then(response=> {
				if (response.data[0]) return this.dialogWarnings=response.data;
				this.$axios.get('survey/instances').then(response=> { this.surveyInstanceList=response.data });
				this.showModalCreateInstance=false;
			})
		},
		preview: function(survey) {
			this.$router.push({name:'survey-preview', params: {survey:survey}});
		},
		edit: function(survey) {
			this.$router.push({name:'survey-edit', params: {survey:survey}});
		},
		exportJson: function(selectedSurvey) {
			var survey=this.toJson(selectedSurvey);
			//trigger download
			download.downloadJson(survey);
		},
		toJson: function(surveyToJson) {
			var survey=Object.assign({}, surveyToJson);
			//remove unecessary information
			delete survey._id;
			delete survey.__v;
			delete survey.owner;
			for (var part of survey.parts) {
				delete part._id;
				for (var question of part.questions) {
					delete question._id;
				}
			}
			return survey;
		},
		create: function() {
			this.$router.push({name:'survey-edit'})
		}
	}
}
</script>

<i18n src="../locales/Index.json"/>
