<template>
	<section v-if="state=='login'">
		<center class="my-4 form-signin" >
			<img class="my-2 loginIcon" src="../img/survey.svg">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<div>
				<input class="form-control" v-model="ticket" :placeholder="$t('hint-ticket')" required>
			</div>
			<button class="my-2 btn btn-lg btn-primary btn-block" v-on:click="start()">{{$t('next')}}</button>
			<p class="my-4">{{$t('author-info')}}</p>
		</center>
	</section>

	<section v-else-if="state=='vote'">
		<div v-for="(part,key) in instance.parts" v-if="key==pos">
			<page-title :title="part.title" :subtitle="pos+1+'/'+instance.parts.length"/>
			<div class="progress-bar" :style="'width: '+(100*(instance.parts.indexOf(part)+0.5)/(instance.parts.length))+'%'"/>
			<div class="container mt-4">
				<div class="card shadow my-4" v-for="question in part.questions">
					<div class="card-header bg-var text-center text-white">{{question.text}}</div>
					<div class="card-body pb-0 pt-0">
						<div class="survey1" v-if="question.type==1" v-for="nr in [2,1]">
							<div class="radio">
  								<label>
									<input type="radio" v-model="answers[question._id]" v-bind:value="nr">
									{{(nr==1) ? $t('yes') : $t('no')}}
								</label>
							</div>
						</div>
						<div class="survey2" v-if="question.type==2" v-for="nr in [4,3,2,1]">
							<div class="radio">
 								<label>
									<input type="radio" v-model="answers[question._id]" v-bind:value="nr">
									{{$t('agree'+nr)}}
								</label>
							</div>
						</div>
						<div class="survey3" v-if="question.type==3">
							<textarea class="form-control" v-model="answers[question._id]"
							:class="{'is-invalid':!$v(answers[question._id],false,$consts.REGEX_TEXT_300)}"/>
						</div>
						<div class="survey4" v-if="question.type==4" v-for="(option, nr) of question.options.split(',')">
							<div class="radio">
								<label>
									<input type="radio" v-model="answers[question._id]" v-bind:value="nr+1">
									{{option.trim()}}
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="my-3">
					<button v-if="pos>0" class="mr-1 btn btn-secondary" v-on:click="pos--">{{$t('back')}}</button>
					<button v-if="pos+1<instance.parts.length" class="mr-1 btn btn-primary" v-on:click="pos++">{{$t('next')}} </button>
					<button v-if="pos+1==instance.parts.length" class="mr-1 btn btn-primary" v-on:click="save()">{{$t('save')}}</button>
				</div>
			</div>
			<modal-info v-if="message" v-on:close="message=false">{{message}}</modal-info>
		</div>
	</section>

	<section v-else-if="state=='done'">
		<page-title :title="$t('title')"/>
		<div class="container">
			<div class="alert alert-primary">{{$t('thanks')}}</div>
			<router-link class="btn btn-primary my-5":to="{ name: 'main-index', params: {} }">{{$t('to-home')}}</router-link>
		</div>
	</section>

</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import ModalInfo from 'Main/components/ModalInfo.vue';
	import WarningList from 'Main/components/WarningList.vue';
	import color from 'Main/js/color.js'

	export default {
		components: {WarningList, PageTitle, ModalInfo},
		data: function() {
			return {
				warnings:[],
				ticket:'',
				pos:0,
				state:'login',
				answers:{},
				message:false
			}
		},
		mounted: function() {
			var ticket=this.$route.params.ticket;
			if (ticket) {
				this.$axios.get('survey/part/instances/'+ticket).then(response=> {
					if (response.data[0]) return this.warnings=response.data;
					this.ticket=ticket;
					this.instance=response.data;
					this.state='vote';
				})
			}
		},
		updated: function() {
			color.setBgVar();
		},
		watch: {
			pos: function() {window.scrollTo(0,0)}
		},
		methods: {
			start: function() {
				if (!this.ticket) return;
				this.$axios.get('survey/part/instances/'+this.ticket).then(response=> {
					if (response.data[0]) return this.warnings=response.data;
					this.instance=response.data;
					this.state='vote';
				})
			},
			save: function(num) {
				this.$axios.post('survey/part/votes',{ticket:this.ticket, answers:this.answers}).then(response=> {
					if (response.data[0]) return this.message=this.$t(response.data[0].msg);
					else this.state='done';
				})
			}
		}
	}
</script>


<style>
/* Vote form */
div.surveyPart{padding:0;margin:0}
div.surveyQuestion {width:100%; margin:0;padding:0em;float:clear;margin:1em 0 1em 0;border-radius:5px}
div.surveyQuestion:nth-child(odd) {background-image:linear-gradient(270deg, #e0e0e0 , #f0f0f0)}
div.surveyQuestion:nth-child(even) {background-image:linear-gradient(90deg, #e0e0e0 , #f0f0f0)}
div.surveyText {margin:0;padding:1em; float:clear;}
div.survey1 {margin:1%;padding:1%;width:46%;display:inline-block;text-align:center;vertical-align:top}
div.survey2 {margin:1%;padding:1%;width:21%;display:inline-block;text-align:center;vertical-align:top}
div.survey3 {padding:1%;}
div.survey4 {margin:1%;padding:1%;width:29%;display:inline-block;text-align:center;vertical-align:top}
textarea.survey {width:99%}
p.surveyBottom {width:95%;text-align:center;margin-bottom:1em}
label.survey {text-align:center;width:100%}

@media screen and (max-width: 800px) {
	h2 {margin:0}
}
</style>
<style src="Main/css/signin.css"/>


<i18n src="../locales/Part.json"/>
