<template>
	<section>
		<page-title :title="$t('result-title',{title:instance.title})" :subtitle="$t('result-subtitle',{num:numAnswers})"/>
		<wait-icon v-if="!instance"/>
		<warning-list v-if="warnings" :warnings="warnings"/>
		<div class="container" v-if="instance">
			<div class="card shadow my-5" v-for="part in instance.parts">
				<div class="card-header bg-dark text-white">{{part.title}}</div>
				<table class="card-body table mb-0" style='width:100%'>
					<tr v-if="part.questions" v-for="question in part.questions">
						<td style='width:40%'>{{question.text}}</td>
						<td v-if="question.type==1">
							<span v-for="i in [2,1]">
								<span class="surveyResult" :style="'margin-bottom:1px;background-color:'+['','#00a060','red'][i]+';width:'+Math.round(75*results[question._id][i]/numAnswers)+'%'">&nbsp;</span>
								<span v-if="showNumbers" class="px-1">{{Math.round(results[question._id][i])}}</span>
								<br>
							</span>
						</td>
						<td v-if="question.type==2">
							<span v-for="i in [4,3,2,1]">
								<span class="surveyResult" :style="'margin-bottom:1px;background-color:'+['','#00a060','#0060A0','orange','red'][i]+';width:'+Math.round(75*results[question._id][i]/numAnswers)+'%'">&nbsp;</span>
								<span v-if="showNumbers" class="px-1">{{Math.round(results[question._id][i])}}</span>
								<br>
							</span>
						</td>
						<td v-if="question.type==3">
							<ul class="list-group">
								<li v-for="line in results[question._id]" class="list-group-item py-1 px-1">{{line}}</li>
							</ul>
						</td>
						<td v-if="question.type==4">
							<span v-for="(option, i) of question.options.split(',')">
								<span class="surveyResult b-dark" :style="'margin-bottom:1px;width:'+Math.round(75*results[question._id][i+1]/numAnswers)+'%'">&nbsp;</span>
								<span>{{option}}</span>
								<span v-if="showNumbers" class="px-1">{{Math.round(results[question._id][i+1])}}</span>
								<br>
							</span>
						</td>
					</tr>
				</table>
			</div>
			<div class="my-3">
				<button class="btn btn-primary mr-1" v-on:click="showNumbers=!showNumbers">{{showNumbers ? $t('hide-numbers') : $t('show-numbers')}}</button>
				<button class="btn btn-secondary mr-1" v-on:click="loadResults()">{{$t('update')}}</button>
				<router-link class="btn btn-secondary" :to="{name:'survey-index'}">{{$t('close')}}</router-link>
			</div>
		</div>
	</section>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import WarningList from 'Main/components/WarningList.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';

export default {
	components: {PageTitle, WarningList, WaitIcon},
	mounted: function() {
		this.id=this.$route.params.id;
		if (!this.id) return this.$router.push({name:'main-index'});
		this.loadResults();
	},
	data: function() {
		return {
			warnings:false,
			instance:false,
			numAnswers:0,
			results:false,
			showNumbers:false,
			id:null
		}
	},
	methods: {
		loadResults: function() {
			this.$axios.get('survey/results/'+this.id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.instance=response.data.instance;
				this.numAnswers=response.data.numAnswers;
				this.results=response.data.results;
			});
		}
	}
}
</script>

<style>
	span.surveyResult {position: realtive;display:inline-block;background-color:var(--gray);border-radius: 1px;padding-left:1px}
</style>





<i18n src="../locales/Result.json"/>
